* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background: #e9dc41;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow: auto;
}

.bold {
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 0 20px;
}

.footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    margin: 2rem;
}

header h1 {
    font-size: 2.5rem;
}

section {
    display:flex;
    flex-direction: column;
    gap: 6px;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    border-top: 3px solid black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 1.25rem;
    background-color: #fff248;
}

section:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

a {
    color: #007acc;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #005f99;
    outline: none;
}