* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    line-height: 25px;
    word-spacing: 5px;
    background-color: rgb(244, 247, 249);
}

header h1 {
    font-size: 2.5rem;
    color: #0a2540;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    margin: 20px;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: inherit
}

a:hover,
a:focus {
    outline: none;
}

.light-blue {
    color: #007acc
}

.bold {
    font-weight: 600
}

.smaller {
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 0 20px;
}

.footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    margin: 2rem;
}

header h1 {
    font-size: 2.5rem;
}

main {
    max-width: 700px;
    margin: auto;
}

section {
    display:flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin: 10px auto;
    padding: 1rem;
    border-top: 3px solid #0a2540;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
}

section:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.9);
}

.description {
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1000px;
        margin: auto;
    }
}