* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(135deg, #f3f4f6, #e3e9ef);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header h1 {
  font-size: 2.5rem;
  color: #0a2540;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

main {
    flex: 1;
    overflow: auto;
}

.bold {
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 0 20px;
}

.footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    margin: 2rem;
}

header h1 {
    font-size: 2.5rem;
}

section {
    display:flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin: auto;
    padding: 1rem;
    border-top: 3px solid #0a2540;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
}

section:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.9);
}

a {
    color: #007acc;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #005f99;
    outline: none;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1000px;
        margin: auto;
    }
}